html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Thanks for Registration
    body
        h1 Hello #{name}
        p This email is to inform you that your email (#{email}) is used to signup at 
            a(href="http://localhost:3000") Sosharu
            | Please verify it by clicking 
            a(href=`http://localhost:3000/users/verification/${_id}/${verificationToken}`) here.
        p 
            b Regards
        p
            b Sosharu Team